.Footer{
    /* border: 2px solid red; */
    height: 38vh;
    display: flex;
}
.footer{
    border-right: 1px solid gray;
    width: 33.33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer #img{
    width: 40%;
    
}
.f1{
    padding-top: 10px;
}